.rmdb-movieinfo {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  padding: 4rem 2rem;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;

  @media screen and (max-width: 768px) {
    min-height: 600px;
    height: auto;
  }

  &__content {
    max-width: 1280px;
    min-height: 450px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    position: relative;
  }

  &__thumb {
    width: 30rem;
    float: left;

    @media screen and (max-width: 768px) {
      width: 100% !important;
    }
  }

  &__text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4rem;
    color: #fff;
    overflow: hidden;

    > h1 {
    font-family: "Abel", sans-serif;
    font-size: 4rem;
    margin: 0;
    color: #d3d3d3;

    @media screen and (max-width: 1000px) {
      font-size: 3.2rem !important;
      }

    @media screen and (max-width: 768px) {
      font-size: 3.2rem;
      }

     @media screen and (max-width: 525px) {
      font-size: 2.3rem;
      }
    }

    h3 {
      font-size: 1.4rem;
      line-height: 0;
      margin: 3rem 0 2rem;
    }
    
    p {
      font-family: "Abel", sans-serif;
      font-size: 1.8rem;
      line-height: 2.5rem;
      margin-bottom: 1.6rem;
    }
  }

  &__rating {
    font-size: 1.25rem;
    width: 20rem;
    height: 1rem;
    margin-top: 20px;
    position: relative;


  }

  &__score {
    color: #ffff47;
    font-size: 2.5rem;
    position: absolute;
    margin: 0;
    right: 0px;
    top: -3px;
  }

  &__director {
    margin: 0;
  }
}

.fa-film {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #fff;
  font-size: 5rem;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

meter::-webkit-meter-bar {
  background: #fff;
  width: 150px;
}
meter::-webkit-meter-optimum-value {
  background: linear-gradient(to bottom, #16d47b) !important;
}
meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(to bottom, #fbb450) !important;
}
meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(to bottom, #ee5f5b) !important;
}


