.rmdb-searchbar {
  width: 100%;
  height: 10.5rem;
  background: #1c1c1c;
  position: relative;
  padding: 2.5rem 2rem 0 2rem;
  box-sizing: border-box;
  color: #fff;

  &__content {
    max-width: 1280px;
    width: 100%;
    height: 5.5rem;
    background:#353535;
    margin: 0 auto;
    border-radius: 4rem;
    position: relative;
    color: #fff;
    margin-bottom: 2.5rem;
  }

  &__input {
    font-family: 'Abel', sans-serif;
    font-size: 3rem;
    position: relative;
    margin: .8rem 0 0 6rem;
    border: 0;
    background: transparent;
    height: 4rem;
    width: 90%;
    color: #fff;
    
    &:focus {
      outline: none;
    }

    @media screen and (max-width: 720px) {
      margin: .8rem 0 0 6rem;
      font-size: 2.8rem;
      color: #dfdfdf;
    }
  }

  &__fa-search {
    position: absolute;
    left: 2rem;
    top: 1.2rem;
    font-size: 3rem;
    color: #fff;
  }
}






